
<div class="col-xs-offset-2 col-xs-10 skill-show well">  
  <header class="grandma-info">
    <h1>Grandma master at <%= @skill.name %> now is available</h1>
    <div class="image">
      <%= image_tag @gm.avatar, size: "400x400",class: "img-circle" %>
    </div>
    <p>
    <%= @gm.name %>
    </p>
  </header>
  <%= link_to phone_call_skill_grandmom_path(@skill, @gm) , class: "btn btn-info btn-call" do%>
  <%= fa_icon "phone" %> Call
  <% end %>
</div>